<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styleMap.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">
  <title>Trip Details and Map</title>


  
</head>
<body>

  <div class="container">
    <% if (routeJSON.status != 200) { %>

      <p><strong>Some Internal Error occured | Error Status Code : <%= routeJSON.status %></strong></p>
   
      <%} else { %>
    <div class="details">
      <h2>Trip Details</h2>
      

      <p><strong>Origin : </strong> <%= routeJSON.origin.addr %></p>
      <p><strong>Destination : </strong> <%= routeJSON.destination.addr %></p>

      <p><strong>Distance : </strong><%= routeJSON.routeDet.distance %></p>
      <p><strong>Estimated Time : </strong><%= routeJSON.routeDet.duration %></p>
      <p><strong>Fuel Price : </strong>Rs <%= routeJSON.costs.fuelCost %></p> <br>

      <p><strong>Number of Tolls : </strong><%= routeJSON.tolls.length %></p>
      <p><strong>Toll Cost(CASH) : </strong><%= routeJSON.costs.cash %></p>
      <p><strong>Toll Cost(FASTAG) : </strong><%= routeJSON.costs.tag %></p>
      <div class="parent-container">
          <% routeJSON.tolls.forEach(function(toll) { %>
            <div class="child">
              <% if (!toll.name) { %>
                <p><strong>Name : </strong><%= toll.start.name %></p>
                <p><strong>FASTAG : </strong>Rs <%= toll.tagCost %></p>
                <p><strong>Road : </strong><%= toll.road %></p>
                <p><strong>STATE : </strong><%= toll.state %></p>
                
                
                <%} else { %>
                  <p><strong>Name : </strong><%= toll.name %></p>
                  <p><strong>FASTAG : </strong>Rs <%= toll.tagCost %></p>
                  <p><strong>Road : </strong><%= toll.road %></p>
                  <p><strong>STATE : </strong><%= toll.state %></p>
      
                <% } %>
                
            </div>
        <% }); %> 

       </div>
    </div>
    

    <div class="map">
      <h2>Origin - Destination</h2>
      <div id="map">
  
        <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
        src="https://www.google.com/maps/embed/v1/directions?origin=+<%= routeJSON.origin.lat %>+,+<%= routeJSON.origin.lng %>+&destination=+<%= routeJSON.destination.lat %>+,+<%= routeJSON.destination.lng %>+&key=AIzaSyB_JrYXwQ418KOc9QaS7Y43BNJLXJd1gxg"></iframe>

        <div class="preDet">
          <div class="avi">
            <h3>DEFAULT DETAILS</h3>
            <a href="/" class="button">Search again</a>
          </div>
          <p><strong>Fuel Rate : </strong><%= routeJSON.fuelInfo.rate %></p>
          <p><strong>Fuel Average : </strong> Highway - <%= routeJSON.fuelInfo.hwy %> km/l | City - <%= routeJSON.fuelInfo.city %> km/l</p>
          <p><strong>Vehicle Type : </strong> 4-wheeler car / taxi</p>
        </div>
      </div>
    </div>
    <% } %>
  </div>

</body>
</html>



